@font-face {
  font-family: 'Lobster';
  src:
    url('/static/lobster-regular-webfont.woff2') format('woff2'),
    url('/static/lobster-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: inherit;
  line-height: inherit;
  color: inherit;
  margin: 0;
}

html {
  font-family: system-ui;
  font-size: 150%;
  height: 100%;
}

body {
  background-color: #ff3f5f;
  background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  height: 100%;
}

h1 {
  margin: 1em;
  font-size: 3em;
}

form * {
  display: block;
  margin: 1em auto;
  font-size: 1rem;
}

form input,
form textarea {
  appearance: none;
  border: none;
  background-color: transparent;
  width: 50vw;
  padding: 0.5em;

  &:focus {
    background-color: #fff5;
    outline: 0;
  }
}

form input {
  border-bottom: 4px solid white;
}

form textarea {
  border-left: 4px solid white;
}

form button {
  background-color: transparent;
  padding: 1em 2em;
  border-radius: 10px;
  color: white;
  border: 3px solid white;
  cursor: pointer;

  &:focus,
  &:hover {
    background-color: #fff5;
    outline: 0;
  }
}

.fonts-loaded h1 {
  font-family: 'Lobster', fantasy;
}

.question {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2em;
  box-sizing: border-box;
}

.question h1 {
  margin: 0;
}

.results {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 100%;
  position: relative;
  flex-grow: 1;
  height: 100%;
  margin-top: 2em;
}

.results > * {
  flex-grow: 1;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.results > * .bar {
  flex-grow: 1;
  margin-top: 0.5em;
}

.bar {
  background-color: white;
  transform-origin: left;
  color: #333;
  max-height: 2em;
}
